<!DOCTYPE html>
<html lang="en" ng-app="productApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CONS-ideration</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <style>
    /* app css stylesheet */
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    .jumbotron {
      padding-top: 13px;
    }
  </style>

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container" ng-cloak>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul id="navbar" class="nav navbar-nav">
          <!--<li id="view1"><a href="#" class="scroll-link" data-id="XXX">XXX</a></li>-->
          <li id="products"><a href="#/products">View all Products</a>
          </li>
          <li id="view1"><a href="#/view1">CES 2014</a>
          </li>
          <li id="view2"><a href="#/view2">Trending</a>
          </li>
          <li id="view3"><a href="#/view3">Best</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <div class="container" style="background-color:seashell" ng-init="pselect='Vaio Duo 13'">
    <div class="jumbotron" style="background-color:green">
      <h1 style="text-align:center;color:seashell"><strong>Cons</strong><i>ideration</i></h1>
      <h2 style="text-align:center;color:lightgreen"><i><strong>We Shop Together</strong></i></h2>
    </div>

    <div class="container col-sm-6 centered">

      <div ng-controller="productController">

        <h2><strong>New Product Reviews</strong></h2>
        <p id="empty" ng-hide="(products.$getIndex() || products.length) || !loaded">There are no new Product reviews! Add one now! :)</p>

        <table class="table" cellpadding="5" id="products">
          <tr ng-repeat="product in products">
            <!--changeProductCons({{product.title}})-->
            <td>
              <!---->
              <!--<a ng-click="pselect = {{product.title}}">Button</a>-->
              <a href="http://www.{{product.link}}"><strong>{{product.title}}</strong></a>
            </td>
            <td><a ng-click="toggleTable(product)"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" ng-model="product.completed" ng-change="changeCompleted(product)" />
              </label>
              <!--<button id="select-btn" class="btn btn-default" ng-click="selectProduct(newproductTitle)">Check</button>-->
            </td>
          </tr>
        </table>

        </br>
        <form class="form-inline">
          <input id="product-title" type="text" ng-model="newproductTitle" placeholder="Product Name" />
          </br>
          http://www.<input id="product-link" type="text" ng-model="newproductLink" placeholder="Product URL" />
          <button id="add-btn" class="btn btn-success" ng-click="addproduct(newproductTitle,newproductLink)">Add</button>
        </form>
        <p>
          <a href id="remove-completed-btn" ng-click="removeCompletedItems()">Remove completed items</a>
        </p>

      </div>

      </br>


    </div>
    <!-- /.container -->
    <div class="container col-sm-6 centered">

      <div ng-controller="itemController">
        <h3><strong>Product Focus - </strong><font color="blue">{{pselect}}</font></h3>
        <p id="empty" ng-hide="(items.$getIndex() || items.length) || !loaded">There are no Cons for this product! Add one now! :)</p>
        <table class="table" cellpadding="5" id="cons">
          <tr ng-repeat="item in items| toArray | orderBy:'-downVotes' | filter:checkNull">
            <!--| toArray | orderBy:'-downVotes'-->
            <td>
              <button id="down-btn" class="btn btn-xs btn-danger" ng-click="downVote(item)">{{item.downVotes}}</button>
              </br>
              <button id="up-btn" class="btn btn-xs btn-success" ng-click="upVote(item)">{{item.upVotes}}</button>
            </td>
            <td>{{item.comment}}</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" ng-model="item.spam" ng-change="removeSpam(item.id)" />
              </label>
            </td>
          </tr>
        </table>
        </br>
        <!--<ul id="cons" class="unstyled">
            <li ng-repeat="con in cons">
                {{con.comment}}
                <label class="checkbox">
                    <input type="checkbox" ng-model="product.completed" ng-change="changeCompleted(product)" />
                </label>
            </li>
        </ul>-->
        <form class="form-inline">
          <!--<input id="item-product" type="text" ng-model="newProductItem"/>-->
          <input id="item-product" type="hidden" ng-model="pselect" />
          <!-- :D -->
          <input id="item-comment" type="text" ng-model="newItemComment" placeholder="Comment" />

          <!--<input id="product-link" type="text" ng-model="newproductLink" placeholder="http://www.(enter link)" />-->

          <button id="add-btn" class="btn btn-success" ng-click="additem(pselect,newItemComment)">Add</button>
        </form>

        <p>
          <a href id="remove-spam-btn" ng-click="removeSpamItems()">Remove spam items</a>
        </p>
      </div>

    </div>



  </div>




  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
  <script src="//cdn.firebase.com/v0/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>

  <script>
    var variable1 = true;
    var productApp = angular.module('productApp', ['firebase']);


    productApp.controller('productController', function($scope, $firebase) {

      $scope.loaded = false;
      var ref = new Firebase('https://consdb.firebaseio.com/products');
      $scope.products = $firebase(ref);
      $scope.products.$bind($scope, "products");
      $scope.variable1 = variable1;

      $scope.$watch.pselect = '';
      //$scope.productCons = '';

      $scope.toggleTable = function(prod) {
        pselect = prod.title;
        alert("You have selected " + pselect + ". Product Focus Table to be updated to " + pselect);

        scope.$digest();

        //return true; to open link?!?!
      };

      $scope.addproduct = function(title, link) {
        if (title !== '' && link !== '') {



          // Reset the title to an empty string
          $scope.newproductTitle = '';
          $scope.newproductLink = '';
          // Each product is an object with a title, link and a generated ID
          // Set the newly created product as a child in the product collection
          var id = generateID();
          $scope.products.$child(id).$set({
            title: title,
            link: link,
            id: id
          });
        } else {
          alert("Please type something!");
        }
      };

      $scope.changeCompleted = function(product) {
        // Update the product
        $scope.products.$child(product.id).$set(product);
        var message = (product.completed === true) ? 'Task Completed!' : 'Task Uncompleted!';
      };

      $scope.removeCompletedItems = function() {
        // If a product is completed, delete it
        $scope.products.$getIndex().forEach(function(index) {
          if ($scope.products[index].completed === true) {
            $scope.products.$remove(index);
          }
        });
      };

      // Random ID generator
      function generateID() {
        var chars, x, length = 10;
        chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-=";
        var name = [];
        for (x = 0; x < length; x++) {
          name.push(chars[Math.floor(Math.random() * chars.length)]);
        }
        var id = name.join('');
        if ($scope.products.$getIndex().indexOf(id) === -1) {
          return id;
        } else {
          generateId();
        }
      }


    });


    productApp.controller('itemController', function($scope, $firebase) {

      $scope.loaded = false;

      var ref = new Firebase('https://consdb.firebaseio.com/items');
      $scope.items = $firebase(ref);
      $scope.items.$bind($scope, "items");

      $scope.additem = function(product, comment) {
        if (product !== '' && comment !== '') {

          // Reset the title to an empty string
          $scope.newItemComment = '';
          // Each product is an object with a title, link and a generated ID
          // Set the newly created product as a child in the product collection
          var id = generateID();
          $scope.items.$child(id).$set({
            id: id,
            product: product,
            comment: comment,
            upVotes: 0,
            downVotes: 0,
            spam: false
          });
        } else {
          alert("Please type something!");
        }
      };

      $scope.checkNull = function(row) {
        return (row.hasOwnProperty('id'));
        // || row.hasOwnProperty('comment') || row.hasOwnProperty('upVotes') || row.hasOwnProperty('downVotes')
      }

      $scope.upVote = function(item) {
        item.upVotes = item.upVotes + 1;
        $scope.items.$child(item.id).$set({
          id: item.id,
          comment: item.comment,
          upVotes: item.upVotes,
          downVotes: item.downVotes,
        });

      };

      $scope.downVote = function(item) {
        item.downVotes = item.downVotes + 1
        $scope.items.$child(item.id).$set({
          id: item.id,
          comment: item.comment,
          upVotes: item.upVotes,
          downVotes: item.downVotes,
          spam: item.spam
        });

      };

      $scope.changeSpam = function(item) {
        // Update the item
        $scope.items.$child(item.id).$set(item);
        var message = (item.spam === true) ? 'Spam Comment' : 'Not a Spam';
      };

      $scope.removeSpamItems = function() {
        // If a comment is spam, delete it
        $scope.items.$getIndex().forEach(function(index) {
          if ($scope.items[index].spam === true) {
            $scope.items.$remove(index);
          }
        });
      };

      // Random ID generator
      function generateID() {
        var chars, x, length = 10;
        chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-=";
        var name = [];
        for (x = 0; x < length; x++) {
          name.push(chars[Math.floor(Math.random() * chars.length)]);
        }
        var id = name.join('');
        if ($scope.items.$getIndex().indexOf(id) === -1) {
          return id;
        } else {
          generateId();
        }
      }

    });

    productApp.controller('conController', function($scope, $firebase) {

      $scope.loaded = false;

      var ref = new Firebase('https://consdb.firebaseio.com/cons');
      $scope.cons = $firebase(ref);
      $scope.cons.$bind($scope, "cons");


      $scope.addcon = function(comment) {
        if (comment !== '') {

          // Reset the title to an empty string
          $scope.newComment = '';
          // Each product is an object with a title, link and a generated ID
          // Set the newly created product as a child in the product collection
          var id = generateID();
          $scope.cons.$child(id).$set({
            id: id,
            comment: comment,
            upVotes: 0,
            downVotes: 0,
            spam: false
          });
        } else {
          alert("Please type something!");
        }
      };

      $scope.checkNull = function(row) {
        return (row.hasOwnProperty('id'));
        // || row.hasOwnProperty('comment') || row.hasOwnProperty('upVotes') || row.hasOwnProperty('downVotes')
      }

      $scope.upVote = function(con) {
        con.upVotes = con.upVotes + 1;
        $scope.cons.$child(con.id).$set({
          id: con.id,
          comment: con.comment,
          upVotes: con.upVotes,
          downVotes: con.downVotes,
        });

      };

      $scope.downVote = function(con) {
        con.downVotes = con.downVotes + 1
        $scope.cons.$child(con.id).$set({
          id: con.id,
          comment: con.comment,
          upVotes: con.upVotes,
          downVotes: con.downVotes,
          spam: con.spam
        });

      };


      $scope.changeSpam = function(con) {
        // Update the con
        $scope.cons.$child(con.id).$set(con);
        var message = (con.spam === true) ? 'Spam Comment' : 'Not a Spam';
      };

      $scope.removeSpamItems = function() {
        // If a comment is spam, delete it
        $scope.cons.$getIndex().forEach(function(index) {
          if ($scope.cons[index].spam === true) {
            $scope.cons.$remove(index);
          }
        });
      };

      // Random ID generator
      function generateID() {
        var chars, x, length = 10;
        chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-=";
        var name = [];
        for (x = 0; x < length; x++) {
          name.push(chars[Math.floor(Math.random() * chars.length)]);
        }
        var id = name.join('');
        if ($scope.cons.$getIndex().indexOf(id) === -1) {
          return id;
        } else {
          generateId();
        }
      }


    });


    productApp.filter('toArray', function() {
      return function(input) {
        var out = [0];
        for (i in input) {
          out.push(input[i]);
        }
        return out;
      }
    });
  </script>
</body>

</html>
